<div class="container">
    <div class="navi" style="margin-top: 60px;">
        <ul>
            <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Student</span></a>
                <ul class="nav child_menu">
                    <li><a ui-sref="admitstudent">Admit Student</a></li>
                    <li><a>Admit Bulk Students</a></li>
                    <li><a>Student Information</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Teacher</span></a></li>
            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Parent</span></a></li>
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Class</span></a>
                <ul class="nav child_menu">
                    <li><a>Manage Classes</a></li>
                    <li><a>Academic Syllabus</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Time Tables</span></a>
                <ul class="nav child_menu">
                    <li><a>Class Name list to be added</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Attendance</span></a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Exam</span></a>
                <ul class="nav child_menu">
                    <li><a>Exam List</a></li>
                    <li><a>Exam Grades</a></li>
                    <li><a>Manage Marks</a></li>
                    <li><a>Send Marks by SMS</a></li>
                    <li><a>Tabulation Sheets</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Accounting</span></a>
                <ul class="nav child_menu">
                    <li><a>Create Student Payment</a></li>
                    <li><a>Student Payments</a></li>
                    <li><a>Expenses</a></li>
                    <li><a>Expense Category</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Message</span></a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Account</span></a></li>
        </ul>
    </div>
</div>